<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity
    Name="3b944fad-aff8-4345-9f0b-f15b378deef3"
    Version="1.0.0.0"
    Publisher="CN=bri.000" />

  <Properties>
    <DisplayName>Metro</DisplayName>
    <Description>Metro</Description>
    <PublisherDisplayName>bri.000</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application 
      Id="App"
      StartPage="default.html">

      <VisualElements
        DisplayName="Metro"
        Logo="images\logo.png"
        SmallLogo="images\smalllogo.png"
        Description="Metro"
        ForegroundText="light"
        BackgroundColor="#000000">

        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />

      </VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

</Package>
